<h1 class="page-header">
	<% if controller_name == 'welcome'%>
  		Inicio <small>Bienvenido</small>
	<% end %>

	<% if controller_name != 'registrations' && controller_name != 'welcome'%>
  		Usuarios <small>Iniciar Sesión</small>
	<% end %>

	<% if controller_name != 'sessions' && controller_name != 'welcome'%>
  		Usuarios <small>Registrarse</small>
	<% end %>


</h1>
<ol class="breadcrumb">
    <li class="active">
	    <i class="fa fa-dashboard"></i> Dashboard
    </li>
</ol>