<br>
<ul class="nav nav-pills nav-stacked">
  <% if controller_name == 'welcome' %>
      <li class="active"><%= link_to "Inicio", root_path%></li>
      <% else %>
      <li><%= link_to "Inicio", root_path%></li>
  <% end %>
  
  <li>
  	<a data-toggle="collapse" href="#collapse1">Correspondencia y Oficios<b class="caret"></b></a>
            <div id="collapse1" class="panel-collapse collapse">
            	<ul>
            		<li>Correspondencia</li>
            		<li>Oficios Internos</li>
            	</ul>
            
          </div>
  </li>
  <li><a href="#">Contravenciones</a></li>
  <li><a href="#">Ayuda</a></li>
</ul>